In [2]:
import numpy as np
import pandas as pd

# Pandas Series

In [3]:
g7_pop = pd.Series([35.4, 63.9, 80.9, 60.6, 127.0, 64.51, 318.5])

In [4]:
g7_pop

0     35.40
1     63.90
2     80.90
3     60.60
4    127.00
5     64.51
6    318.50
dtype: float64

In [5]:
g7_pop.name = "The population im millions"

In [6]:
g7_pop

0     35.40
1     63.90
2     80.90
3     60.60
4    127.00
5     64.51
6    318.50
Name: The population im millions, dtype: float64

In [7]:
g7_pop.dtype

dtype('float64')

In [9]:
g7_pop.values

array([ 35.4 ,  63.9 ,  80.9 ,  60.6 , 127.  ,  64.51, 318.5 ])

In [10]:
type(g7_pop.values)

numpy.ndarray

In [11]:
g7_pop[0]

np.float64(35.4)

In [12]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [15]:
g7_pop.index=[
    "Canada",
    "France",
    "Germany",
    "Italy",
    "Japan",
    "UK",
    "US"
]

In [16]:
g7_pop

Canada      35.40
France      63.90
Germany     80.90
Italy       60.60
Japan      127.00
UK          64.51
US         318.50
Name: The population im millions, dtype: float64

In [17]:
g7_pop[1]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_13048\297810826.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  g7_pop[1]

np.float64(63.9)

In [19]:
g7_pop.iloc[1]

np.float64(63.9)

In [20]:
g7_pop.loc["US"]

np.float64(318.5)

In [22]:
pd.Series(
    [35.4, 63.9, 80.9, 60.6, 127.0, 64.51, 318.5],
    index=[
    "Canada",
    "France",
    "Germany",
    "Italy",
    "Japan",
    "UK",
    "US"
]
)

Canada      35.40
France      63.90
Germany     80.90
Italy       60.60
Japan      127.00
UK          64.51
US         318.50
dtype: float64

In [24]:
data_dict = {
    'Canada': 35.40,
    'France': 63.90,
    'Germany': 80.90,
    'Italy': 60.60,
    'Japan': 127.00,
    'UK': 64.51,
    'US': 318.50
}

pd.Series(data_dict, name='The population in millions')

Canada      35.40
France      63.90
Germany     80.90
Italy       60.60
Japan      127.00
UK          64.51
US         318.50
Name: The population in millions, dtype: float64

In [25]:
g7_pop.iloc[1:]

France      63.90
Germany     80.90
Italy       60.60
Japan      127.00
UK          64.51
US         318.50
Name: The population in millions, dtype: float64

In [26]:
g7_pop.iloc[::-1]

US         318.50
UK          64.51
Japan      127.00
Italy       60.60
Germany     80.90
France      63.90
Canada      35.40
Name: The population in millions, dtype: float64

In [30]:
g7_pop.iloc[0:2]

Canada    35.4
France    63.9
Name: The population in millions, dtype: float64

In [33]:
g7_pop["Italy":"UK"] # 注意，Pandas的标签切片包含上限

Italy     60.60
Japan    127.00
UK        64.51
Name: The population in millions, dtype: float64

# Conditional Selection (Boolean Arrays)

In [35]:
g7_pop

Canada      35.40
France      63.90
Germany     80.90
Italy       60.60
Japan      127.00
UK          64.51
US         318.50
Name: The population in millions, dtype: float64

In [38]:
g7_pop > 80

Canada     False
France     False
Germany     True
Italy      False
Japan       True
UK         False
US          True
Name: The population in millions, dtype: bool

In [39]:
g7_pop[g7_pop > 80]

Germany     80.9
Japan      127.0
US         318.5
Name: The population in millions, dtype: float64

In [47]:
g7_pop[g7_pop > g7_pop.mean()/2]

France      63.90
Germany     80.90
Italy       60.60
Japan      127.00
UK          64.51
US         318.50
Name: The population in millions, dtype: float64

In [50]:
g7_pop.std()

np.float64(97.25869462907869)

In [53]:
g7_pop[(g7_pop > g7_pop.mean()/2) | (g7_pop > g7_pop.max()/2)]

France      63.90
Germany     80.90
Italy       60.60
Japan      127.00
UK          64.51
US         318.50
Name: The population in millions, dtype: float64

# Opearations and Methods

In [43]:
g7_pop

Canada      35.40
France      63.90
Germany     80.90
Italy       60.60
Japan      127.00
UK          64.51
US         318.50
Name: The population in millions, dtype: float64

In [44]:
g7_pop * 100

Canada      3540.0
France      6390.0
Germany     8090.0
Italy       6060.0
Japan      12700.0
UK          6451.0
US         31850.0
Name: The population in millions, dtype: float64

In [45]:
np.log(g7_pop)

Canada     3.566712
France     4.157319
Germany    4.393214
Italy      4.104295
Japan      4.844187
UK         4.166820
US         5.763622
Name: The population in millions, dtype: float64

In [46]:
g7_pop.mean()

np.float64(107.25857142857141)

# Modifying Series

In [55]:
g7_pop["US"] = 9.11

In [56]:
g7_pop

Canada      35.40
France      63.90
Germany     80.90
Italy       60.60
Japan      127.00
UK          64.51
US           9.11
Name: The population in millions, dtype: float64

In [57]:
g7_pop[g7_pop < 70] = 9.11

In [58]:
g7_pop

Canada       9.11
France       9.11
Germany     80.90
Italy        9.11
Japan      127.00
UK           9.11
US           9.11
Name: The population in millions, dtype: float64